* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: hsl(180, 52%, 96%);
}

code {
  font-family: 'League Spartan', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.job-listing li {
  margin: 20px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF;
  border-radius: 5px; 
  box-shadow:7px 7px 14px rgb(211, 233, 240);
}

.job-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 100%;
}

.company-name {
  color: hsl(180, 29%, 50%);
  font-weight: 500;
}

.job-position {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(180, 14%, 20%);
  padding: 15px 0;
}

.job-data {
  display: flex;
  gap: 10px;
  color: hsl(180, 8%, 52%);
}

.tags {
margin-left: auto;
}
