* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: hsl(180, 52%, 96%);
}

code {
  font-family: 'League Spartan', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.job-listing article {
  margin: 20px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF;
  border-radius: 8px; 
  box-shadow:7px 7px 14px rgb(211, 233, 240);
  border-left: solid 5px #fff;
}

.job-listing article:hover {
  border-left: solid 5px hsl(180, 29%, 50%);
}

.job-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 100%;
}

.company-name {
  color: hsl(180, 29%, 50%);
  font-weight: 500;
}

.job-position {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(180, 14%, 20%);
  padding: 15px 0;
}

.job-data {
  display: flex;
  gap: 10px;
  color: hsl(180, 8%, 52%);
}

.tab {
  margin-left: 5px;
  padding: 7px 12px 4px 12px;
  font-size: .8rem;
  font-weight: 700;
  color: #FFF;
  border-radius: 20px;
}

.blue {
  margin-left: 20px;
  background: hsl(180, 29%, 50%);
}

.black {
  background: rgb(32, 32, 32);
}

.catagory-container {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.catagory-container p {
  background: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.catagory-container p:hover {
  background: hsl(180, 29%, 50%);
  color: #fff;
  transition: .4s;
}
